/* Style for media links */
ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: var(--red); /* You can adjust the color */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

ul li a:hover {
  color: #ff6666; /* Change the color on hover as desired */
}
