:root {
  --red: #ed2024;
  --orange: #ffa500;
  --neon-green: #39ff14;
  --neon-pink: #ff6ec7;
}

body {
  font-family: "Anton", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: 2em;
  text-align: center;
}

h2 {
  color: #fff;
}

p {
  line-height: 1.5;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  margin-top: auto;
}

.marquee-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a i {
  color: white;
  margin-right: 10px;
}