:root {
  --red: #ed2024;
  --orange: #ffa500;
  --neon-green: #39ff14; /* Neon green color */
  --neon-pink: #ff6ec7;
}

body {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


section {
  margin: 2em;
  text-align: center;
}

h2 {
  color: #333;
}

p {
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  margin-top: auto;
}

/* the marquee */
.marquee-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: white;
  font-family: sans-serif;
}

/* Added styles for the active link */
.navbar-nav .nav-item.active .nav-link {
  color: var(--orange);
  font-weight: bold;
  position: relative;
}

.navbar-nav .nav-item.active .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px; /* Adjust the distance from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: var(--neon-green);
}

.marquee-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}


.social-icons {
  margin-top: 10px;
}

.social-icons a i {
  color: white;
  margin-right: 10px;
}
