body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }

  h1 {
    color: #ffffff;
    font-size: 2em;
  }

  .time-box {
    background-color: #000000;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 77, 138, 0.8);
  }

  .time-label {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 77, 138, 0.8);
  }

  #statistics {
    margin-top: 30px;
    color: #ffffff;
  }

  .marquee-container {
    overflow: hidden;
  }

  .blink {
    animation: blink 10s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }