.formedia ul {
  list-style-type: none;
  padding: 0;
}

.formedia ul li a {
  /*text-decoration: underline var(--neon-green);*/
  color: white; /* You can adjust the color */
  transition: color 0.3s ease-in-out;
}

.formedia ul li a:hover {
  color: black; /* Change the color on hover as desired */
}
