h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 40px;
  }

  .question {
    font-family: 'Anton', sans-serif;
    color: white;
    /* Use var(--neon-pink) for underline color */
  }

  section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  @media only screen and (max-width: 600px) {
    section {
      margin: 10px;
    }
  }

  marquee {
    text-align: left;
  }

  body {
    background-color: var(--color-2);
    color: white;
    min-height: 100vh;
  }

  p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .fore {
    text-align: center;
  }